.navbar {
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #003580;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-weight: 600;
}

.navButton {
    color: #003580;
    margin-left: 15px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}