.navbar {
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #003580;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-weight: 600;
}

.navItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navItems>img {
    margin: 0px 10px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.profile>span {
    /* margin: 0 10px; */
    cursor: pointer;
}


.options {
    padding: 5px;
    font-size: 15px;
    /* position: absolute; */
    color: #003580;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    width: 80px;
    text-align: center;
}

.option {
    display: none;
}

/* .profile:hover .options {
    display: block;
    align-items: center;
} */

.navButton {
    color: #003580;
    margin-left: 15px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}